@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/fira-code.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/fira-code.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/fira-code.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/fira-code.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/fira-sans-300.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/fira-sans-400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/fira-sans-500.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {

    --MAIN-TEXT-color: #2d3f4b; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #a13609; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color: #457da7; /* Color of links */
    --MAIN-LINK-HOVER-color: #457da7; /* Color of hovered links */
    --MAIN-ANCHOR-color: #457da7; /* color of anchors on titles */

    --MENU-HEADER-BG-color: #457da7; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: #2d3f4b; /*Color of menu header border */

    --MENU-SEARCH-BG-color: #f1ecd4; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #f1ecd4; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #a13609; /* Override search field icons color */

    --MENU-SECTIONS-ACTIVE-BG-color: #f2f2f2; /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color: #f2f2f2; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #2d3f4b; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #a13609; /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #fff; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #a13609; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #20272b; /* Color of <hr> separator in menu */

    --FONT-body: "Fira Sans", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --FONT-headline: "Fira Code", -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    color: var(--MAIN-TEXT-color) !important;
    font-family: var(--FONT-body);
    font-weight: 400;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
    font-family: inherit;
    font-weight: 400;
}

h1 {
    margin-top: 1.5em;
    font-family: var(--FONT-headline);
    font-size: 36px;
    line-height: 1.08333;
    text-align: left;
    text-transform: none;
}

h2 {
    font-family: var(--FONT-headline);
    font-size: 25px;
    line-height: 1.32;
}

h3, .h3 {
    font-size: 20px;
    line-height: 1.15;
}

h4, .h4 {
    margin-bottom: 1em;
    font-family: var(--FONT-headline);
}

h5 {
    font-size: 1.125rem;
}

a {
    color: var(--MAIN-LINK-color);
}

a code {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
    color: var(--MENU-HEADER-BG-color);
}

#body a.highlight:after {
    position: relative;
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
    background-color: var(--MENU-SECTIONS-BG-color);
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}

#sidebar .searchbox {
    border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox * {
    color: var(--MAIN-TEXT-color);
}

#sidebar .searchbox input {
    font-weight: 400;
}

#sidebar .searchbox input::placeholder {
    color: var(--MAIN-TEXT-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
    padding-left: calc(1rem - 3px);
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
}

#body .tags a.tag-link {
    background-color: var(--MENU-HEADER-BG-color);
}

#body .tags a.tag-link:before {
    border-right-color: var(--MENU-HEADER-BG-color);
}

/**
 * Custom
 */
#sidebar .highlightable {
    padding-top: 0;
}

#sidebar ul.topics {
    padding: 1rem 1rem;
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
    margin: 0;
}

#sidebar ul li.active > a {
    border-left: 3px solid var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
}

#footer {
    /*padding: 15px;
    /*border-top: 1px solid #3a454d;*/
    /*background: #172b3b;*/
}

#header {
    display: flex;
    justify-content: center;
}

#header a#logo {
    display: block;
    text-align: center;
}

#logo img {
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100%;
    margin: 0;
    display: inline;
}

#logo span {
    display: block;
    text-align: left;
    margin-top: 4px;
    font-family: var(--FONT-headline);
    font-weight: 700;
    color: #fff;
}

#body img, #body .video-container {
    max-width: 100%;
    display: inline-block;
    margin: 1rem auto;
}

#body img.icon {
    margin: 0;
    vertical-align: middle;
}

pre {
    background-color: #2b2b2b;
}

#body-inner {
    margin-bottom: 0;
}

pre code {
    font-size: 14px;
}

.notices pre {
    border-width: 0 15px 15px;
    border-style: solid;
    margin: 0;
}

.notices.note pre {
    border-color: #E7F2FA;
}

.notices.info pre {
    border-color: #FFF2DB;
}

.notices.tip pre {
    border-color: #E6F9E6;
}

.notices.warning pre {
    border-color: #FAE2E2;
}

div.notices.idea p {
    border-top: 30px solid rgba(217, 79, 203, 0.8);
    background: #f0e2fa;
}

.notices.idea pre {
    border-color: #f0e2fa;
}

div.notices.idea p:first-child::before {
    content: "\f0eb"; /* light bulb */
}

#body .padding {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1800px) {
    #body .padding {
        margin-left: 0;
        margin-right: 0;
    }
}

#navigation a {
    color: var(--MENU-SECTIONS-BG-color);
}

#body .nav i {
    opacity: 0.5;
    transition: opacity 0.2s;
}

#body .nav:hover i {
    opacity: 1;
}

@media print {
    #sidebar {
        display: none;
    }

    #top-bar-sticky-wrapper {
        display: none;
    }

    #navigation {
        display: none;
    }

    #body {
        margin: 0;
    }

    #body .padding {
        max-width: none;
        padding: 0;
    }

    div.notices {
        page-break-inside: avoid;
        -webkit-print-color-adjust: exact;
    }

    h2 {
        page-break-after: avoid;
    }

    h3 {
        page-break-after: avoid;
    }

    h4 {
        page-break-after: avoid;
    }

    li {
        page-break-inside: avoid;
    }
}

#prefooter {
    padding-top: 1rem;
}

#footer {
    padding: 2rem 1rem;
}

html[lang="de"] div.notices.warning p:first-child:after {
    content: 'Warnung';
}

html[lang="de"] div.notices.note p:first-child:after {
    content: 'Notiz';
}

html[lang="en"] div.notices.idea p:first-child:after {
    content: 'Hint';
}

html[lang="de"] div.notices.idea p:first-child:after {
    content: 'Hinweis';
}

html[lang="de"] div.notices.tip p:first-child:after {
    content: 'Tipp';
}

/* fix #172 */
option {
    color: initial;
}

/* fix https://github.com/matcornic/hugo-theme-learn/issues/378 */
#TableOfContents li ul {
    padding-left: 15px;
    padding-right: 15px;
}
#TableOfContents li > a {
    padding: 0 !important;
}
#TableOfContents > ul > li > ul > li a {
    font-weight: normal;
}
#top-bar {
    position: relative;
}
.progress {
    left: 0;
    max-width: 100%;
}

/*
 * Shortcode expand
 */
.expand {
    background-color: rgba(253, 253, 253, 0.8);
    margin: 0 0 0 0;
    border: 1px solid rgba(218, 218, 218, 1);
}

.expand ~ .expand {
    margin: 1rem 0 0 0;
}

.expand-label {
    height: auto;
    padding: 7px 0 7px 10px;
    margin: 0 0 0 0;
    color: var(--MAIN-TITLES-TEXT-color);
    display: flex;
    align-items: center;
    line-height: 1.225;
}

.expand-label i {
    font-size: 1rem !important;
    width: 1rem;
    color: var(--MENU-SEARCH-BG-color);
    margin-right: 0.5rem;
}

.expand-label span {
    display: inline-block;
}

.expand-label:hover {
    background-color:rgba(218, 218, 218, 0.1);
}

.expand-content {
    padding: 0 1rem 0 1rem;
    margin: 0 0 0 0;
    border-top: 1px solid rgba(218, 218, 218, 1);
}

/* CSS for "version-tag" shortcode */
.version-tag {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    margin-right: 2px;
    background-color: #6AB0DE;
    font-size: 14px;
    color: white;
}

#sidebar {
    font-weight: 400 !important;
    z-index: 1;
}

#body .tab-content .tab-item > *:first-child {
    margin-top: 0;
}

#body .tab-content .tab-item > *:last-child {
    margin-bottom: 0;
}

/* Remove hr introduced in theme update */
#prefooter > hr {
    border: none;
}

/* Introduce gap between two consecutive code examples */
.highlight + .highlight {
    margin-top: 0.5em;
}

/* CSS for "example" shortcode */
.example {
    margin-top: 24px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.example header {
    padding: .2em 1em;
    font-variant: all-small-caps;
    font-weight: 300;
    color: #6e6e6e;
    background-color: #e7e7e7;
    border-bottom: 1px solid #ccc;
}

.example > div {
    padding: 0 1em 0.25em 1em;
}

.example h1 {
    color: unset;
    font-size: unset;
    text-transform: unset;
    line-height: unset;
    font-weight: bold;
    margin: 1em 0;
}

.example pre {
    padding: 10px;
    margin: 0 0 20px;
}

/* CSS for "best practice" shortcode */
.best-practice {
    padding: 15px;
    margin: 20px -15px;
    background-color: #e6f9e6;
}

.best-practice .tag {
    display: inline-block;
    padding: 2px 8px 2px 8px;
    margin-right: 2px;
    background-color: #78c478;
    font-size: 14px;
    color: white;
}

.best-practice .tag + * {
    display: inline;
}

.best-practice table td {
    background-color: white;
}

/** CSS for the "from-to" class **/
.from-to {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
}

.from-to > div:first-child {
    position: relative;
}

.from-to > div:first-child:after {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    top: 100%;
    right: 0;
    bottom: -20px;
    left: 0;
    content: '🡇';
}

.from-to pre {
    padding: 10px;
    margin: 0 0 20px;
}

@media only screen and (min-width: 1200px) {
    .from-to {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr;
    }

    .from-to > div:first-child:after {
        top: 0;
        right: -40px;
        bottom: 20px;
        left: 100%;
        content: '🡆';
    }
}
