name: Build and deploy

on:
    push:
        branches:
            - main
            - update-hugo
    workflow_dispatch: ~

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  submodules: true

            - name: Setup Hugo
              uses: peaceiris/actions-hugo@v2
              with:
                  hugo-version: '0.152.2'

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: 8.2
                  coverage: none

            - name: Build all books
              run: ./book build-all

            - name: Deploy
              if: success()
              uses: appleboy/scp-action@master
              with:
                  host: terminal42.ch
                  username: terminal
                  port: ${{ secrets.DEPLOY_PORT }}
                  key: ${{ secrets.DEPLOY_KEY }}
                  source: 'build'
                  target: ${{ secrets.DEPLOY_TARGET_PATH }}
                  rm: true
                  strip_components: 1